/POOEJ1/nbproject/private/
/MascotaAPP/nbproject/private/
/MascotaAPP/build/
/Biblioteca/nbproject/private/
/Biblioteca/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/POO/nbproject/private/
/Poo/nbproject/private/
/Poo/build/